<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bujosa.antares"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Antares">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAJ3atjCQZ8u84opvW0zVZFv9c0CB_I-Xw" />

        <activity
            android:name=".travel.AddTravelActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".travel.TravelActivity"
            android:exported="false" />
        <activity
            android:name=".travel.TravelsActivity"
            android:exported="false" />
        <activity
            android:name=".travel.FavoritesListTravelActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>